body{
    background-image: url(C:/Users/Administrator/Desktop/IP/resources/s-12.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    
   
}

html,body{
    margin:0;
    height:100%;
}

.full-height{
    background: rgba(26, 26, 26, 0.651);
    background-attachment: fixed;
    max-height: 100vh;
    height: 100vh;
}

table{
    width: 100%;
    
    
    
}



.footer-hashen{
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 13px;
    animation: transitionIn-Y-over 0.5s;
}

.heading-text{
    color: white;
    font-size: 38px;
    font-weight: 700;
    line-height: 63px;
    margin-top: 15%;
    text-align: center;
    margin-bottom: 0;
}

.sub-text2{
    color: rgba(255, 255, 255, 0.637);
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}


.register-btn{
    background-color: rgba(240, 248, 255, 0.589);
    color: #345cc4;
}


.edoc-logo{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 20px;
    animation: transitionIn-Y-over 0.5s;
}

.edoc-logo-sub{
    color: rgba(255, 255, 255, 0.733);
    font-size: 12px;

}


.nav-item{
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    animation: transitionIn-Y-over 0.5s;
    text-decoration: none;
}

.nav-item:hover{
    color: #f0f0f0;

}

.full-height table tr td a {
    text-decoration: none;
    color: white;
}

.w3-footer-mufeen{
    position: absolute;
    bottom: 0;
    
    font-size: 13px;

    
}

.w3-footer-container{
width: 100%;
background: rgba(31, 30, 30, 0.774);
color: white;
}

.sub-menu-1{
  display: none; 
}

.full-height table tr td a.sub-menu1 ul{
    display: block;
    position: absolute;
    background: rgb(199, 199, 199);
   
}

.menu-bar{
    background: rgba(48, 21, 21, 0);
    text-align: right;

}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    width:40%;

}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li:hover{
background:rgba(100, 99, 99, 0.733);
border-radius: 3px;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    width: 200px;
    background: rgba(19, 18, 18, 0.808);
    margin-top: 15px;
    margin-left:-15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    text-align: left;
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover{
    background: rgba(100, 99, 99, 0.733);
    border-radius: 3px;
}


.sub-menu-2{
    display: none; 
  }


  .menu-bar ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    width: 240px;
    background: rgba(48, 21, 21, 0.774);
    margin-top: 15px;
    margin-left:-15px;
}

.menu-bar ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 5px;
}

.menu-bar ul li:hover .sub-menu-2 ul li{
    text-align: left;
    width: 160px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
}

.menu-bar ul li:hover .sub-menu-2 ul li:hover {
    background: rgba(158, 64, 64, 0.486);
    border-radius: 3px;
}

.td1{
    background: rgba(48, 21, 21, 0);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;

}

.td2{
    background: rgba(48, 21, 21, 0);
}

.td1 p{
    margin-left: 15px;
}

@media(max-width:800px){
    .menu-bar ul{
        display:flex;
        width: 100%;
        margin-left: 10px;
       
        
        
    }

    .menu-bar ul li {
        margin-right: 10px;
    }

    .heading-text{
        width: 100%;
        padding: 10px;
        font-size: 28px;
       
    }

    .sub-text2{
        width: 100%;
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    

    
}