*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(C:/Users/Administrator/Desktop/IP/resources/s-12.jpg);
    background-size: cover;
    

}

.full-height{
    background: rgba(26, 26, 26, 0.651);
    background-attachment:fixed;
    max-height: 100vh;
    height: 100vh;
    width: 100%;

}   

.reg_container{
    width: 100%;
    max-width: 650px;
    background: rgba(31, 30, 30, 0.87);
    padding: 28px;
    margin-top: 180px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px rgba(255, 255, 255, 0.342);

}

.Form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;

}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;

}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    text-align: left;



}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 2px solid rgb(73, 73, 73);
    padding: 0 10px;
    background: transparent;
    color: white;
}

.user-input-box input::placeholder{
    color: rgba(214, 206, 206, 0.89)
}

.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 40px;

}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(38, 71, 47, 0.884);
}

.form-submit-btn input:hover{
    background: rgba(99, 207, 126, 0.7);
    color: rgb(255, 255, 255);

}

.w3-footer-container{
    width: 100%;
    background: rgba(31, 30, 30, 0.774);
    color: white;
    height: 46px;
    }

.w3-footer-mufeen{
    position: absolute;
    bottom: 0;
    font-size: 13px;
   
} 

.footer-top{
    margin-top: 15px;
}

@media(max-width: 800px){
    .reg_container{
        width: 90%;
        
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
        padding: 10px;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}


